

.highlight-card{
    color: #000000;
    text-align: left;
    overflow: hidden;
    background-color: #fff;
    width: fit-content;
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    
}
.highlight-card::before{
    /* content: ""; */
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: var(--green-color);
    right: 0;
    bottom: 0;
}
.h-card-left:before{
    left: 0;
}

.h-card-left{
    border-radius: 0px 100px 100px 0px;
    border-left: 5px solid var(--green-color);
}
.h-card-right{
    border-radius: 100px 0px 0px 100px;
    border-right: 5px solid var(--green-color);
}
.h-card-header{
    display: flex;
    align-items: center;
    justify-content: center;

}
.h-card-header img{
    width: 80px;
    max-height: 80px !important;
    background-color: #7ff0b255;
    padding: 10px;
    border-radius: 100px;
    object-fit: contain;
}
.h-card-body{
    /* border-radius: 50px 50px 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}